<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
{{#if popups}}
    <table class="striped">
        <thead>
            <tr>
                <th>Location</th>
                <th>Date</th>
                <th>Specials</th>
            </tr>
        </thead>
        <tbody>
            {{#each popups}}
                <tr>
                    <td><a href="/popups/{{_id}}">{{title}}</a></td>
                    <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td>
                        <a href="/popups/edit/{{_id}}" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/popups/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not created any popups.</p>
{{/if}}